---
---
<html>
    <head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Авторизация</title>
    	<link rel="stylesheet" href="css/style.less" />
    </head>
    <body> 
        <div class="popup-wrapper">
	        <div class="popup" id="pp_enter">


	        	<div class="popup__container">
	        		<div class="popup__title">Вход</div>
	        		<form class="pp-form">
	        			{{>field type="text" ph="Логин" name="login"}}
	        			{{>field type="password" ph="Пароль" name="password"}}
	        			<div class="pp-form__footer">
		        			<a class="but but_blue" href="chat.hbs">Авторизоваться</a-->
		        			<!--button type="button" id="but-login" class="but but_blue">Авторизоваться</button-->
		        			<a href="registration.hbs" class="pp-link">Нет аккаунта?</a>
	        			</div>
	        		</form>
	        	</div>
	        </div>
	    </div>
    </body>
</html> 