<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Страница 404</title>
    <link rel="stylesheet" href="css/style.less" />
</head>
<body>
	<div class="container">
		<h1>404</h1>
		<p>Не туда попали</p>
		<a href="chats.hbs">Назад к чатам</a>
	</div>

</body>
</html>