<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Страница 5**</title>
    <link rel="stylesheet" href="css/style.less" />
</head>
<body>
	<section class="page-error">
		<div class="container">
			<div class="center">
				<h1>500</h1>
				<p>Мы уже фиксим</p>
				<a href="chat.hbs">Назад к чатам</a>
			</div>
		</div>
	</div>
	
</body>
</html>