<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Настройки профиля</title>
    <link rel="stylesheet" href="css/style.less" />
</head>
<body>
	<div class="back"></div>
	<section class="profile">
		<div class="profile__top">
			<div class="profile__avatar">
				<img src="images/blank.png" alt="">
			</div>
			<div class="profile__name">Иван</div>
		</div>
		<ul class="user-info">
			{{>user_data label="Почта" type="email" val="pochta@yandex.ru" name="email"}}
			{{>user_data label="Логин" type="text" val="ivanivanov" name="login"}}
			{{>user_data label="Имя" type="text" val="Иван" name="first_name"}}
			{{>user_data label="Фамилия" type="text" val="Иванов" name="second_name"}}
			{{>user_data label="Имя в чате" type="text" val="Иван" name="display_name"}}
			{{>user_data label="Телефон" type="tel" val="+7 (909) 967 30 30" name="phone"}}
		</ul>
		<ul class="profile__otps">
			<li><a class="but but_blue" href="settings.hbs">Сохранить</a></li>
		</ul>
	</section>
</body>
</html>