<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Настройки профиля</title>
    <link rel="stylesheet" href="css/style.less" />
</head>
<body>
	<div class="back"></div>
	<section class="profile">
		<div class="profile__top">
			<div class="profile__avatar">
				<img src="images/blank.png" alt="">
			</div>
			<div class="profile__name">Иван</div>
		</div>
		<ul class="user-info">
			<li class="user-info__item">
				<div class="user-info__param">Почта</div>
				<input class="user-info__value" type="email" readonly value="pochta@yandex.ru" name="email">
			</li>
			<li class="user-info__item">
				<div class="user-info__param">Логин</div>
				<input class="user-info__value" type="text" readonly value="ivanivanov" name="login">
			</li>
			<li class="user-info__item">
				<div class="user-info__param">Имя</div>
				<input class="user-info__value" type="text" readonly value="Иван" name="first_name">
			</li>
			<li class="user-info__item">
				<div class="user-info__param">Фамилия</div>
				<input class="user-info__value" type="text" readonly value="Иванов" name="second_name">
			</li>
			<li class="user-info__item">
				<div class="user-info__param">Имя в чате</div>
				<input class="user-info__value" type="text" readonly value="Иван" name="display_name">
			</li>
			<li class="user-info__item">
				<div class="user-info__param">Телефон</div>
				<input class="user-info__value" type="tel" readonly value="+7 (909) 967 30 30" name="phone">
			</li>
		</ul>
		<ul class="profile__otps">
			<li><a href="settings-edit.hbs">Изменить данные</a></li>
			<li><a href="settings-edit-pass.hbs">Изменить пароль</a></li>
			<li><a class="link_red" href="index.hbs">Выйти</a></li>
		</ul>
	</section>
</body>
</html>