<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/css/style.less" />
</head>
<body>
    <div class="popup-wrapper">
        <main class="popup" id="pp_reg">
        	<div class="popup__container">
        		<div class="popup__title">Регистрация</div>
        		<form class="pp-form">
        			{{>field type="email" ph="Почта" name="email"}}
        			{{>field type="text" ph="Логин" name="login"}}
        			{{>field type="text" ph="Имя" name="first_name"}}
        			{{>field type="tel" ph="Телефон" name="phone"}}
        			{{>field type="password" ph="Пароль" name="password"}}
        			{{>field type="password" ph="Повторите пароль" name="password_repeat"}}
        			<div class="pp-form__footer">
	        			<button type="button" onclick="window.location.href='index.hbs'" class="but but_blue">Зарегистрироваться</button>
	        			<a href="/index.hbs" class="pp-link">Войти</a>
        			</div>
        		</form>
        	</div>
        </main>
    </div>
</body>
</html>
