<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Настройки профиля</title>
    <link rel="stylesheet" href="/css/style.less" />
</head>
<body>
	<div class="back"></div>
	<main class="profile">
		<div class="profile__top">
			<div class="profile__avatar">
				<img src="/images/blank.png" alt="Аватар пользователя">
			</div>
			<div class="profile__name">Иван</div>
		</div>
		<ul class="user-info">
			{{>user_data label="Почта" type="email" val="pochta@yandex.ru" name="email" ro="true"}}
			{{>user_data label="Логин" type="text" val="ivanivanov" name="login" ro="true"}}
			{{>user_data label="Имя" type="text" val="Иван" name="first_name" ro="true"}}
			{{>user_data label="Фамилия" type="text" val="Иванов" name="second_name" ro="true"}}
			{{>user_data label="Имя в чате" type="text" val="Иван" name="display_name" ro="true"}}
			{{>user_data label="Телефон" type="tel" val="+7 (909) 967 30 30" name="phone" ro="true"}}
		</ul>
		<ul class="profile__otps">
			<li><a href="settings-edit.hbs">Изменить данные</a></li>
			<li><a href="settings-edit-pass.hbs">Изменить пароль</a></li>
			<li><a class="link_red" href="/index.hbs">Выйти</a></li>
		</ul>
	</main>
</body>
</html>
